

{{ form_start(form,{'attr': {'class': 'flex-wrap ' ,'novalidate': 'novalidate'}}) }}
    {{ form_row(form.date) }}
    {{ form_row(form.heure_debut) }}
    {{ form_row(form.heure_fin) }}
    {{ form_row(form.symptomes) }}
<button class="btn btn-primary mt-3">{{ button_label|default('Ajouter') }}</button>

{{ form_end(form) }}
