{% extends 'sideBar.html.twig' %}
{% block lien %}
<a href="{{ path('app_planning_new', {'id': 1}) }}" class="btn btn-primary btn-sm" >Ajouter rendezVous</a>
{% endblock %}
{% block calendarStyle %}
<link rel="stylesheet" href="{{asset('FrontOffice/plugins/fullcalendar/fullcalendar.min.css')}}">

{% endblock %}
{% block content %}

<div class="card-body">
<div id="calendar"></div>
</div>
{% endblock %}
{% block calendarScript %}
<script src="{{asset('FrontOffice/js/bootstrap.bundle.min.js')}}"></script>

<script src="{{asset('FrontOffice/plugins/theia-sticky-sidebar/ResizeSensor.js')}}"></script>
<script src="{{asset('FrontOffice/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js')}}"></script>

<script src="{{asset('FrontOffice/js/moment.min.js')}}"></script>
<script src="{{asset('FrontOffice/js/bootstrap-datetimepicker.min.js')}}"></script>

<script src="{{asset('FrontOffice/plugins/jquery-ui/jquery-ui.min.js')}}"></script>
<script src="{{asset('FrontOffice/plugins/fullcalendar/fullcalendar.min.js')}}"></script>

<script src="{{asset('FrontOffice/js/feather.min.js')}}"></script>

<script src="{{asset('FrontOffice/js/script.js')}}"></script>
<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        minTime: '07:00:00',
        maxTime: '21:00:00',
        navLinks: true,

        selectable: true,
        events:{{ data|raw }},
       dayClick: function(date, jsEvent, view) {
        var events = $('#calendar').fullCalendar('clientEvents', function(event) {
          return date.isBetween(event.start, event.end) &&
            (event.rendering === 'background' || event.rendering === undefined);
        });
    if (events.length > 0) {
      var event = events[0];
      if (event.rendering === 'background') {
        // handle click on planning event
        // show a modal to allow user to create a new rendezVous event
              console.log('background clicked');     
              console.log(events.startStr);     

            // send the form data via AJAX
            $.ajax({
                url: '/calendar/new',
                method: 'POST',
                data: {
                      'start': event.startStr,
                      'end': event.endStr,
                      'title': 'hhhh',
                      'planningId': event.planningId
                  },
                success: function(response) {
                console.log('succes');
                calendar.refetchEvents();

                },
                error: function(xhr, status, error) {
                console.log('error');
                }
            });

          $('#calendar').fullCalendar('renderEvent', event, true);
      } else {
              console.log('zlsed');


      }
    } else {
      // handle click on empty date cell
      // for example, show a modal to allow user to create a new event
      console.log('Empty date cell clicked');
    }
  },
      

    });
  })


</script>

{% endblock %}