{% extends 'sideBar.html.twig' %}
{% block lien %}
<a href="{{ path('app_planning_new', {'id': 1}) }}" class="btn btn-primary btn-sm" >Ajouter planning</a>
{% endblock %}
{% block calendarStyle %}
<link rel="stylesheet" href="{{asset('FrontOffice/plugins/fullcalendar/fullcalendar.min.css')}}">

{% endblock %}
{% block content %}

<div class="card-body">
<div id="calendar"></div>
</div>
{% endblock %}
{% block calendarScript %}
<script src="{{asset('FrontOffice/js/bootstrap.bundle.min.js')}}"></script>

<script src="{{asset('FrontOffice/plugins/theia-sticky-sidebar/ResizeSensor.js')}}"></script>
<script src="{{asset('FrontOffice/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js')}}"></script>

<script src="{{asset('FrontOffice/js/moment.min.js')}}"></script>
<script src="{{asset('FrontOffice/js/bootstrap-datetimepicker.min.js')}}"></script>

<script src="{{asset('FrontOffice/plugins/jquery-ui/jquery-ui.min.js')}}"></script>
<script src="{{asset('FrontOffice/plugins/fullcalendar/fullcalendar.min.js')}}"></script>

<script src="{{asset('FrontOffice/js/feather.min.js')}}"></script>

<script src="{{asset('FrontOffice/js/script.js')}}"></script>
<script>
$('#calendar').fullCalendar({
    header: {
    left: 'prev,next today',
    center: 'title',
    right: 'month,agendaWeek,agendaDay'
},
    navLinks: true,

    selectable: true,
    slotDuration: '00:15:00', /* If we want to split day time each 15minutes */
    defaultView: 'month',  
    handleWindowResize: true,   
  
    events:{{ data | raw }},
    viewRender: function(view, element) {
    $('#calendar').fullCalendar('refetchEvents');
    },
    // lazyFetching: false, // add this option to fetch all events for all views when calendar is initialized

 
    dayClick: function(date, jsEvent, view) {
        var events = $('#calendar').fullCalendar('clientEvents', function(event) {
          return date.isBetween(event.start, event.end) &&
            (event.rendering === 'background');
        });
    if (events.length > 0) {
      var event = events[0];
    //  $(this).data('event', event);
      if (event.rendering === 'background') {
        // handle click on planning event
        // show a modal to allow user to create a new rendezVous event
              console.log('background clicked');     
              console.log(event.start._d); 
// send the form data via AJAX
            $.ajax({
                url: '/calendar/new/'+ event.planningId,
                method: 'GET',
               // data: {
                      //'date': event.start._d,
                     // 'planningId': event.planningId
               //   },
          success: function(response) {
            // create the modal and add the form HTML to the body
            var $modal = $('<div>').addClass('modal fade')
              .attr('tabindex', '-1')
              .attr('role', 'dialog')
              .appendTo('body');
            var $dialog = $('<div>').addClass('modal-dialog')
              .attr('role', 'document')
              .appendTo($modal);
            var $content = $('<div>').addClass('modal-content')
              .appendTo($dialog);
            var $title= $('<h3>')
              .text('Ajouter rendezVous')
              .appendTo($content); 
            var $body = $('<div>').addClass('modal-body')
              .html(response)
              .appendTo($content);
            var $footer = $('<div>').addClass('modal-footer')
              .appendTo($content);
            //var $submit = $('<button>').addClass('btn btn-primary')
             // .text('Save')
             // .appendTo($footer);
            var $close = $('<button>').addClass('btn btn-secondary')
              .attr('data-dismiss', 'modal')
              .text('Annuler')
              .appendTo($footer);
            $close.on('click', function() {
                $modal.modal('hide');
            });
            // bind the form submission to an AJAX request
           console.log(date.format('H:mm:ss'));
            $body.find('#rendez_vous_calendar_date').val(date.format('YYYY-MM-DD'));
            $body.find('#rendez_vous_calendar_heure_debut').val(date.format('hh:mm'));
            $body.find('#rendez_vous_calendar_heure_fin').val(date.add(1,'hour').format('hh:mm'));
            //$body.find('#rendez_vous_calendar_date').attr('disabled', 'disabled');

            $body.find('form').on('submit', function(info) {
                
             // event.preventDefault();
               var formValues = $(this).serializeArray();
                 // add additional data to the array
                console.log(formValues)
                  // serialize the array as a query string
                var formData = $.param(formValues);
              $.ajax({
                url: '/calendar/new/'+ event.planningId,
                method: 'POST',
                data:$(this).serialize(),

                //,

                success: function(response) {
                  console.log('success');
                  $modal.modal('hide');
                  calendar.refetchEvents();
                },
                error: function(xhr, status, error) {
                  console.log('error');
                }
              });
            });

            // show the modal
            $modal.modal('show');
          },
            error: function(xhr, status, error) {
            console.log('error');
            }
        })
        console.log('eventtttt',event)
          $('#calendar').fullCalendar('renderEvent', event, true);
        }
        }else{
            console.log("no events")
        }
    
    },

});

</script>

{% endblock %}