{% extends 'sideBar.html.twig' %}


{% block content %}

   <div class="page-wrapper">
    <div class="content container-fluid">   
    <div class="appointment-tab">
       <h1>Ajouter Remboursement</h1>
    <form class="form-inline my-2 my-lg-0" action="{{ path('app_remboursement_index') }}">
        <div class="input-group mb-3">
        <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Recherche" name="q">
            <div class="input-group-append"><button class="btn btn-outline-success my-2 my-sm-1" type="submit">Rechercher</button></div>
        </div>
    </form>
                <div class="tab-content pt-0">
                <div id="upcoming-appointments" class="tab-pane fade show active" role="tabpanel">
                <div class="card card-table mb-0">
                <div class="card-body">
                <div class="table-responsive">
                <table class="table table-hover table-center mb-0">
        <thead>
            <tr>
                <th class="font-weight-bold">Id</th>
                <th class="font-weight-bold">montantARembourser</th>
                <th class="font-weight-bold">montantMaximale</th>
                <th class="font-weight-bold">tauxRemboursement</th>
                <th class="font-weight-bold">Date De Creation</th>  
                <th class="font-weight-bold">Etat</th>
                <th class="font-weight-bold">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for remboursement in remboursements %}
            <tr>
                <td>{{ remboursement.id }}</td>
                <td>{{ remboursement.montantARembourser }}</td>
                <td>{{ remboursement.montantMaximale }}</td>
                <td>{{ remboursement.tauxRemboursement }}</td>
                <td>{{ remboursement.dateRemboursement ? remboursement.dateRemboursement|date('Y-m-d ') : '' }}</td>
                <td>
                    {% if remboursement.etat =="Non confirmé" %}
                    <span class="badge rounded-pill bg-warning-light">
                    {% endif %}
                    {% if remboursement.etat !="Non confirmé" %}
                    <span class="badge rounded-pill bg-success-light">
                    {% endif %}
                    {% if remboursement.etat =="annulé" %}
                    <span class="badge rounded-pill bg-danger-light"> 
                    {% endif %}
                    {{ remboursement.etat }}</span>
                </td>
                    <td>
                    {{ include('remboursement/_confirm_form.html.twig') }}
                    <a class="btn btn-primary mt-4" href="{{ path('app_remboursement_show', {'id': remboursement.id}) }}">show</a>
                    <a  class="btn btn-primary mt-4" href="{{ path('app_remboursement_edit', {'id': remboursement.id}) }}">edit</a>
                </td>
            
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de resultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
</div>
</div>
</div>
                    

        </tbody>
    </table>
<br/>


    <br/>
   <a class="btn btn-primary" href="{{ path('app_remboursement_new') }}">Create new</a>
    </div>


<!-- -->






























<!--

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant_a_rembourser</th>
                <th>Montant_maximale</th>
                <th>Taux_remboursement</th>
                <th>Etat</th>
                <th>Date_remboursement</th>
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for remboursement in remboursements %}
            <tr>
                <td>{{ remboursement.id }}</td>
                <td>{{ remboursement.montantARembourser }}</td>
                <td>{{ remboursement.montantMaximale }}</td>
                <td>{{ remboursement.tauxRemboursement }}</td>
                <td>{{ remboursement.dateRemboursement ? remboursement.dateRemboursement|date('Y-m-d') : '' }}</td>
               




                <td>
                {% if remboursement.etat =="Non confirmé" %}
                <span class="badge rounded-pill bg-warning-light">
                {% endif %}
                {% if remboursement.etat !="Non confirmé" %}
                <span class="badge rounded-pill bg-success-light">
                {% endif %}
                {% if remboursement.etat =="annulé" %}
                <span class="badge rounded-pill bg-danger-light"> 
                {% endif %}
                {{ remboursement.etat }}</span>
                </td>

             
                <td>
                    <a href="{{ path('app_remboursement_show', {'id': remboursement.id}) }}"><button>confirmer la fiche </button></a>
                    <a href="{{ path('app_remboursement_show', {'id': remboursement.id}) }}">show</a>
                    <a href="{{ path('app_remboursement_edit', {'id': remboursement.id}) }}">edit</a>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_remboursement_new') }}">Create newCreate new</a> 
    -->
{% endblock %}
