{% extends 'base-front.html.twig' %}


{% block body %}
    <section class="section home-tile-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9 m-auto">
                    <div class="section-header text-center aos" data-aos="fade-up">
                        <h2>vous êtes?</h2>
                    </div>
                    <div class="row ">
                        <div class="col-lg-3 mb-3">
                            <div class="card text-center doctor-book-card aos" data-aos="fade-up">
                                <img src="{{asset('FrontOffice/img/img-02.jpg') }}" alt="" class="img-fluid">
                                <div class="doctor-book-card-content tile-card-content-1">
                                    <div>
                                        <h3 class="card-title mb-0">Patient</h3>
                                        <a  href="{{ path('app_registration_patient') }}" class="btn book-btn1 px-3 py-2 mt-3" tabindex="0">S'inscrire</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-3">
                            <div class="card text-center doctor-book-card aos" data-aos="fade-up">
                                <img src="{{ asset('FrontOffice/img/doctors/doctor-07.jpg') }}" alt="" class="img-fluid">
                                <div class="doctor-book-card-content tile-card-content-1">
                                    <div>
                                        <h3 class="card-title mb-0">Médecin</h3>
                                        <a href="{{ path('app_registration_doctor') }}" class="btn book-btn1 px-3 py-2 mt-3" tabindex="0">S'inscrire</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-3">
                            <div class="card text-center doctor-book-card aos" data-aos="fade-up">
                                <img src="{{ asset('FrontOffice/img/img-pharmacy1.jpg') }}" alt="" class="img-fluid">
                                <div class="doctor-book-card-content tile-card-content-1">
                                    <div>
                                        <h3 class="card-title mb-0">Pharmacien</h3>
                                        <a href="{{ path('app_registration_pharmacien') }}" class="btn book-btn1 px-3 py-2 mt-3" tabindex="0">S'inscrire</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-3">
                            <div class="card text-center doctor-book-card aos" data-aos="fade-up">
                                <img src="{{asset('FrontOffice/img/img-02.jpg') }}" alt="" class="img-fluid">
                                <div class="doctor-book-card-content tile-card-content-1">
                                    <div>
                                        <h3 class="card-title mb-0">Assureur</h3>
                                        <a href="{{ path('app_registration_assureur') }}" class="btn book-btn1 px-3 py-2 mt-3" tabindex="0">S'inscrire</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}