{% extends 'base-back.html.twig' %}
{% block page %}Calendrier
{% endblock %}
{% block lien %}
<a href="{{ path('app_planning_new', {'id': 1}) }}" class="btn btn-primary btn-sm" >Ajouter planning</a>
{% endblock %}
{% block body %}
   <div class="page-wrapper">
    <div class="content container-fluid">   
<div class="tab-content pt-0">
<div id="pat_appointments" class="tab-pane fade show active">
<div class="card card-table mb-0">
<div class="card-body">
<div class="table-responsive">
<table class="table table-hover table-center mb-0">
        <thead>
            <tr>
                <th>Medecin</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>Description</th>
                <th>Heure_debut</th>
                <th>Heure_fin</th>
            </tr>
        </thead>
        <tbody>
        {% for planning in plannings %}
            <tr>
            <td>
                <h2 class="table-avatar">
                    <a href="doctor-profile.html" class="avatar avatar-sm me-2">
                    <img class="avatar-img rounded-circle" src="{{ asset('FrontOffice/img/doctors/doctor-thumb-02.jpg')}}" alt="User Image">
                    </a>
                    <a href="doctor-profile.html">{{ planning.medecin.nom}} {{ planning.medecin.prenom}} </a>
                </h2>
                 
                </td>
                <td>{{ planning.dateDebut ? planning.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ planning.dateFin ? planning.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ planning.description }}</td>
                <td>{{ planning.heureDebut ? planning.heureDebut|date('H:i:s') : '' }}</td>
                <td>{{ planning.heureFin ? planning.heureFin|date('H:i:s') : '' }}</td>
                    
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% if isPaginated  %}
                <div class="d-flex justify-content-center">
                    <nav aria-label="col Page navigation example">
                        <ul class="pagination">
                            {% if page != 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ path('app_planning_index_admin', {page: page - 1, nbre: nbre}) }}">Previous</a></li>
                            {% endif %}
                            {% for i in range(1, nbrePage) %}
                                <li class="page-item">
                                    <a class="page-link"  href="{{ path('app_planning_index_admin', {page: i, nbre: nbre}) }}">{{ i }}</a>
                                </li>
                            {% endfor %}
                            {% if page != nbrePage %}
                                <li class="page-item">
                                    <a class="page-link"  href="{{ path('app_planning_index_admin', {page: page + 1, nbre: nbre}) }}">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>

                </div>
            {% endif %}
</div>
{% endblock %}
