{% extends 'base-front.html.twig' %}

{% block title %}Les produits
{% endblock %}

{% block body %}
    <section class="bg-light p-3">
        <h1>Les produits</h1>
    </section>

    <section class="row">
        {% for produit in categorie.produits %}
            <div class="col-4 mt-4">
                <div class="border border-dark rounded p-2 clearfix">
                    <h2>{{ produit.nom }}</h2>
                    <p>{{ produit.prix }} Dt</p>
                    <p>{{ produit.description }} </p>
                    <img src="{{ asset('uploads/') ~ produit.image }}" alt="Image de {{ produit.nom }}">
                    <hr>
                    <a href="{{path("cart_add", {id: produit.id})}}" class="btn btn-success">
                        <i class="bi bi-cart-plus"></i> Ajouter au panier
                    </a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}