
{% extends 'base-back.html.twig' %}


{% block body %}
  
 <div class="container" style="margin-left: 10%" >
    <h1>Produit</h1>
 

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link"  href="{{ path('app_produit_new') }}" >Ajouter</a></li>
     {% for produit in produits %}
    <li class="page-item"><a class="page-link"<a href="{{ path('app_produit_show', {'id': produit.id}) }}"  class="btn btn-primary">{{ produit.id }}</a></a></li>
     {% endfor %}
          
  </ul>
</nav>





    <table class="table">
   
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Etat</th>
                <th>Quantite</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
      {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.etat }}</td>
                <td>{{ produit.quantite }}</td>
                <td> 
                {% if produit.image %}
<img src="{{ asset('uploads/' ~ produit.image) }}" alt="{{ produit.nom }}" />
{% endif %}</td>

 <td>   

</td>
                     <td>   
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}"  class="btn btn-primary">show</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}"  class="btn btn-primary" >edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}"  class="btn btn-primary" >Create new</a>
                </div>

{% endblock %}






