
{% extends 'base-front.html.twig' %}
{% block body %}

 <div class="container"  >
    <h1> la Liste des Produits </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Etat</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.etat }}</td>
                
                <td> 
                {% if produit.image %}
<img src="{{ asset('uploads/' ~ produit.image) }}" alt="{{ produit.nom }}" />
{% endif %}</td>

                     <td>   
                    <a> ajouter au panier </a>
                    
                   <a commander</a>

                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
                </div>
{% endblock %}
