<!DOCTYPE html>

<title>Edit User</title>

{% block body %}
    <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}


<h1>User index</h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Password</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Description</th>
        <th>Adresse</th>
        <th>Num_tel</th>
        <th>Age</th>
        <th>Date_de_naissance</th>
        <th>Sexe</th>
        <th>Specialite</th>
        <th>Date_de_creation</th>
        <th>Cin</th>
        <th>Num_securite_sociale</th>
        <th>Image</th>
        <th>Date_de_modification</th>
        <th>Etat</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.nom }}</td>
        <td>{{ user.prenom }}</td>
        <td>{{ user.description }}</td>
        <td>{{ user.adresse }}</td>
        <td>{{ user.numTel }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.dateDeNaissance ? user.dateDeNaissance|date('Y-m-d') : '' }}</td>
        <td>{{ user.sexe }}</td>
        <td>{{ user.specialite }}</td>
        <td>{{ user.dateDeCreation ? user.dateDeCreation|date('Y-m-d') : '' }}</td>
        <td>{{ user.cin }}</td>
        <td>{{ user.numSecuriteSociale }}</td>
        <td>{{ user.image }}</td>
        <td>{{ user.dateDeModification ? user.dateDeModification|date('Y-m-d') : '' }}</td>
        <td>{{ user.etat }}</td>
        <td>
            <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
            <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
        </td>
    </tr>

    </tbody>
</table>

<a href="{{ path('app_user_new') }}">Create new</a>