{% block stylesheets %}
    <link rel="shortcut icon" href="{{ asset('BackAdmin/img/favicon.png') }}">

    <link rel="stylesheet" href="{{ asset('BackAdmin/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ asset('BackAdmin/plugins/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('BackAdmin/plugins/fontawesome/css/all.min.css') }}">

    <link rel="stylesheet" href="{{ asset('BackAdmin/css/feather.css') }}">

    <link rel="stylesheet" href="{{ asset('BackAdmin/plugins/daterangepicker/daterangepicker.css') }}">

    <link rel="stylesheet" href="{{ asset('BackAdmin/plugins/select2/css/select2.min.css') }}">

    <link rel="stylesheet" href="{{ asset('BackAdmin/plugins/datatables/datatables.min.css') }}">

    <link rel="stylesheet" href="{{ asset('BackAdmin/css/style.css') }}">

{% endblock %}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js">

    </script><script src="{{ asset('BackAdmin/js/jquery-3.6.0.min.js') }}"></script>

    <script src="{{ asset('BackAdmin/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ asset('BackAdmin/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script src="{{ asset('BackAdmin/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('BackAdmin/plugins/datatables/datatables.min.js') }}"></script>

    <script src="{{ asset('BackAdmin/js/moment.min.js') }}"></script>
    <script src="{{ asset('BackAdmin/plugins/daterangepicker/daterangepicker.js') }}"></script>

    <script src="{{ asset('BackAdmin/plugins/select2/js/select2.min.js') }}"></script>

    <script src="{{ asset('BackAdmin/js/script.js') }}"></script>

{% endblock %}



