{% extends 'sideBar.html.twig' %}

{% block nav %} ordonnance  {% endblock %}
{% block active_side %}
    <li>
        <a href="/dashboard">
            <i class="fas fa-columns"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="/consultation">
            <i class="fas fa-calendar-check"></i>
            <span> Consultation </span>
        </a>
    </li>                                      
    <li class="active">
        <a href="/ordonnance">
            <i class="fas fa-calendar-check"></i>
            <span> Ordonnance </span>
        </a>
    </li>
    <li>
        <a href="/ficheMedicale">
            <i class="fas fa-calendar-check"></i>
            <span> Fiche Medical </span>
        </a>
    </li>    <li>
        <a href="my-patients.html">
            <i class="fas fa-user-injured"></i>
            <span>Mes Patients</span>
        </a>
    </li>
    <li>
        <a href="doctor-profile-settings.html">
            <i class="fas fa-user-cog"></i>
            <span>Profile Settings</span>
        </a>
    </li>                                
    <li>
        <a href="doctor-change-password.html">
            <i class="fas fa-lock"></i>
            <span>Change Mot de passe</span>
        </a>
    </li>
    <li>
        <a href="index.html">
            <i class="fas fa-sign-out-alt"></i>
            <span>Déconnecter</span>
        </a>
    </li>
{% endblock %} 


{% block content %}
<h1>Liste Ordonnances </h1>
<div class="text-end">
<a href="{{ path('app_ordonnance_new') }}" class="add-new-btn"> Créer nouveau Ordonnance </a>
</div>
<div class="card card-table mb-0">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Medicament</th>
                        <th>Code ordonnance</th>              
                        <th>Date creation</th>
                        <th>Date modification</th>
                    </tr>
                </thead>
                <tbody>
                {% for ordonnance in ordonnances %}
                    <tr>
                        <td>{{ ordonnance.id }}</td>
                        <td>{{ ordonnance.description }}</td>
                        <td>{{ ordonnance.codeOrdonnance }}</td>
                        <td>{{ ordonnance.dateDeCreation ? ordonnance.dateDeCreation|date('Y-m-d') : '' }}</td>
                        <td>{{ ordonnance.dateDeModification ? ordonnance.dateDeModification|date('Y-m-d') : '' }}</td>
                        <td>
                            <a href="{{ path('app_ordonnance_show', {'id': ordonnance.id}) }}" class="add-new-btn">Afficher</a>
                            <a href="{{ path('app_ordonnance_edit', {'id': ordonnance.id}) }}" class="add-new-btn">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
   
{% endblock %}
