{% extends 'sideBar.html.twig' %}


 {% block title %}Ordonnance{% endblock %}


{% block stylesheets %}

    <link href="{{ asset('FrontOffice/img/favicon.png') }}" rel="icon">

    <link rel="stylesheet" href="{{asset('FrontOffice/css/bootstrap.min.css')}}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/fontawesome/css/all.min.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/css/feather.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/select2/css/select2.min.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/dropzone/dropzone.min.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/css/style.css') }}">

{% endblock %}


{% block content %}
<div class="col-md-7 col-lg-8 col-xl-9">
    <h1>Ordonnance N° {{ordonnance.id}}</h1>
        <div class="card card-table mb-0">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Code Ordonnance</th>
                                <td>{{ ordonnance.codeOrdonnance }}</td>
                            </tr>                           
                            <tr>
                                <th>Description</th>
                                <td>{{ ordonnance.description }}</td>
                            </tr>                            
                            <tr>
                                <th>Medicaments</th>
                                <td>{{ ordonnance.medicaments }}</td>
                            </tr>
                            <tr>
                                <th>Dosage</th>
                                <td>{{ ordonnance.dosage }}</td>
                            </tr>
                            <tr>
                                <th>Nombre de jours</th>
                                <td>{{ ordonnance.nombreJours }}</td>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <td>{{ ordonnance.dateDeCreation ? ordonnance.dateDeCreation|date('Y-m-d') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Date de Modification</th>
                                <td>{{ ordonnance.dateDeModification ? ordonnance.dateDeModification|date('Y-m-d H:m:s', 'UTC') : '' }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <div> 
                            <a href="{{ path('app_ordonnance_edit', {'id': ordonnance.id}) }}" class="add-new-btn"> Modifier</a>
                            <a href="{{ path('print_ordonnance', { 'id': ordonnance.id }) }}" target="_blank" class="add-new-btn" > <i class="fas fa-print"></i> Imprimer </a>                                        
                        </div>
                        <div>                            
                            {{ include('Front-Office/ordonnance/_delete_form.html.twig') }}
                        </div>
                        <div>
                            <a href="{{ path('app_ordonnance_index') }}"> retour à la liste </a>
                        </div>
                    </div>
                    
                </div>   
            </div> 
        </div> 
</div> 
{% endblock %}





{% block javascripts %}
    <script src="{{ asset('BackAdmin/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('FrontOffice/plugins/theia-sticky-sidebar/ResizeSensor.js') }}"></script>
    <script src="{{ asset('FrontOffice/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js') }}"></script>
    <script src="{{ asset('FrontOffice/plugins/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset('FrontOffice/js/moment.min.js')}}"></script>
    <script src="{{ asset('FrontOffice/js/bootstrap-datetimepicker.min.js')}}"></script>
    <script src="{{ asset('FrontOffice/js/feather.min.js')}}"></script>
{% endblock %}
