<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from doccure.dreamguystech.com/laravel/template/public/index by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Feb 2023 19:55:59 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>{% block title %}MedCare{% endblock %}</title>
{% block stylesheets %}
    <link type="image/x-icon" href="{{asset('FrontOffice/img/favicon.png') }}" rel="icon">

    <link rel="stylesheet" href="{{asset('FrontOffice/css/bootstrap.min.css')}}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/fontawesome/css/all.min.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/swiper/css/swiper.min.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/css/aos.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/css/style.css') }}">
{% endblock %}
</head>
<body>
{% block header %}
<div class="main-wrapper">
    <header class="header">
        <nav class="navbar navbar-expand-lg header-nav">
            <div class="navbar-header">
                <a id="mobile_btn" href="javascript:void(0);">
                    <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    </span>
                </a>
                <a href="index.html" class="navbar-brand logo">
                    <img src="{{ asset('FrontOffice/img/logoMedB.png') }}" class="img-fluid" alt="Logo">
                </a>
            </div>
            <div class="main-menu-wrapper">
                <div class="menu-header">
                    <a href="index.html" class="menu-logo">
                        <img src="{{ asset('FrontOffice/img/logoMedB.png') }}" class="img-fluid" alt="Logo">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <ul class="main-nav">
                    <li class="has-submenu active">
                        <a href="{{ path('app_home') }}">Accueil </a>
                    </li>
                    <li class="has-submenu">
                        <a href="#">Médecin</a>
                    <li class="has-submenu">
                        <a href="#" >Pharmacie</a>

                    <li class="has-submenu">
                        <a href="#">Médicaments </a>

                    <li class="has-submenu">
                        <a href="#">Doctoshop </a>
                    </li>
                </ul>
            </div>
            <ul class="nav header-navbar-rht">
                <li class="nav-item contact-item">
                    <div class="header-contact-img">
                        <i class="far fa-hospital"></i>
                    </div>
                    <div class="header-contact-detail">
                        <p class="contact-header">Contact</p>
                        <p class="contact-info-header"> +1 315 369 5943</p>
                    </div>
                </li>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item dropdown has-arrow logged-item">
                            <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                                <span class="user-img">
                                <img class="rounded-circle" src="{{ asset('uploads/utilisateurs/' ~ user.image |default('uploads/utilisateurs/user.png') ) }}"  width="31" alt="user image">
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <div class="user-header">
                                    <div class="avatar avatar-sm">
                                        <img src="{{ asset('uploads/utilisateurs/' ~ user.image |default('uploads/utilisateurs/user.png') ) }}" alt="User Image" class="avatar-img rounded-circle">
                                    </div>
                                    <div class="user-text">
                                        <h6>{{ user.nom |capitalize }} {{ user.prenom |capitalize }}</h6>
                                        {% if is_granted('ROLE_PATIENT') %}
                                        <p class="text-muted mb-0">Patient</p>
                                        {% elseif is_granted('ROLE_MEDECIN') %}
                                        <p class="text-muted mb-0">Médecin</p>
                                        {% elseif is_granted('ROLE_PHARMACIEN') %}
                                        <p class="text-muted mb-0">Pharmacien</p>
                                        {% elseif is_granted('ROLE_ASSUREUR') %}
                                        <p class="text-muted mb-0">Asurreur</p>
                                        {% else %}
                                        <p class="text-muted mb-0">Admin</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <a class="dropdown-item" href="patient-dashboard.html">Tableau de Bord</a>
                                <a class="dropdown-item" href="{{ path('app_user_profile') }}"><i class="feather-edit me-1"></i>Profile</a>
                                <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="feather-log-out me-1"></i>Se déconnecter</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                           <a class="nav-link header-login" href="{{ path('app_login') }}">Se connecter / S'inscrire </a>
                        </li>
                   {% endif %}
            </ul>
        </nav>
    </header>
{% endblock %}

{% block body %}

{% endblock %}


{% block footer %}

    <footer class="footer">

        <div class="footer-top">
            <div class="container-fluid">
                <div class="row aos" data-aos="fade-up">
                    <div class="col-lg-3 col-md-6">

                        <div class="footer-widget footer-about">
                            <div class="footer-logo">
                                <img src="{{ asset('FrontOffice/img/logoMed.png') }}" alt="logo">
                            </div>
                            <div class="footer-about-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6">

                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">Patients</h2>
                            <ul>
                                <li><a href="search.html">Recherche de Médecins</a></li>
                                <li><a href="login.html">Se connecter</a></li>
                                <li><a href="register.html">S'inscrire</a></li>
                                <li><a href="booking.html">Rendez-vous</a></li>

                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6">

                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">Médecins</h2>
                            <ul>
                                <li><a href="appointments.html">Rendez-vous</a></li>
                                <li><a href="login.html">Se connecter</a></li>
                                <li><a href="doctor-register.html">S'inscrire</a></li>

                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6">

                        <div class="footer-widget footer-contact">
                            <h2 class="footer-title">Nous contacter</h2>
                            <div class="footer-contact-info">
                                <div class="footer-address">
                                    <span><i class="fas fa-map-marker-alt"></i></span>
                                    <p> 1, 2 rue André Ampère - 2083,<br> Pôle Technologique - El Ghazala </p>
                                </div>
                                <p>
                                    <i class="fas fa-phone-alt"></i>
                                    71 963 589
                                </p>
                                <p class="mb-0">
                                    <i class="fas fa-envelope"></i>
                                    <a href="https://doccure.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="8de9e2eeeef8ffe8cde8f5ece0fde1e8a3eee2e0">[email&#160;protected]</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="footer-bottom">
            <div class="container-fluid">

                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="copyright-text">
                                <p class="mb-0">&copy; 2022 MedCare. All rights reserved.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">

                            <div class="copyright-menu">
                                <ul class="policy-menu">
                                    <li><a href="term-condition.html">Terms and Conditions</a></li>
                                    <li><a href="privacy-policy.html">Policy</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </footer>
</div>

{% endblock %}
{% block javascripts%}


    </script><script src="FrontOffice/js/jquery-3.6.0.min.js"></script>

    <script src="{{ asset('FrontOffice/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ asset('FrontOffice/plugins/swiper/js/swiper.min.js') }}"></script>

    <script src="{{ asset('FrontOffice/js/slick.js') }}"></script>

    <script src="{{ asset('FrontOffice/js/aos.js') }}"></script>

    <script src="{{ asset('FrontOffice/js/script.js') }}"></script>
{% endblock %}
</body>
<!-- Mirrored from doccure.dreamguystech.com/laravel/template/public/index by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Feb 2023 19:57:01 GMT -->
</html>
<script>
    $(document).ready(function(){
        // alert(1);
        /*$('.submenu li a').click(function(){
          $(.submenu li a).removeClass("active");
          $(this).addClass("active");
          $('.has-submenu a').removeClass("active");
          $('.has-submenu a').addClass("active");

          //$(this).toggleClass("active");
        });*/
    });
</script>
