<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from doccure.dreamguystech.com/laravel/template/public/index by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Feb 2023 19:55:59 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>{% block title %}MedCare{% endblock %}</title>
{% block stylesheets %}
    <link type="image/x-icon" href="{{asset('FrontOffice/img/favicon.png') }}" rel="icon">

    <link rel="stylesheet" href="{{asset('FrontOffice/css/bootstrap.min.css')}}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/fontawesome/css/all.min.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/swiper/css/swiper.min.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/css/aos.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/css/style.css') }}">

{% endblock%}
</head>
<body>
{% block header %}
<div class="main-wrapper">
    <header class="header">
        <nav class="navbar navbar-expand-lg header-nav">
            <div class="navbar-header">
                <a id="mobile_btn" href="javascript:void(0);">
                    <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    </span>
                </a>
                <a href="index.html" class="navbar-brand logo">
                    <img src="{{ asset('FrontOffice/img/logoMedB.png') }}" class="img-fluid" alt="Logo">
                </a>
            </div>
            <div class="main-menu-wrapper">
                <div class="menu-header">
                    <a href="index.html" class="menu-logo">
                        <img src="{{ asset('FrontOffice/img/logoMedB.png') }}" class="img-fluid" alt="Logo">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <ul class="main-nav">
                    <li class="has-submenu active">
                        <a href="#">Accueil </a>
                       <!-- <ul class="submenu">
                            <li><a href="index.html">Accueil</a></li>
                            <i class="fas fa-chevron-down"></i>
                        </ul>-->
                    </li>
                    <li class="has-submenu">
                        <a href="#">Médecin</a>
                      <!--  <ul class="submenu">
                      <i class="fas fa-chevron-down"></i>
                            <li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
                            <li><a href="appointments.html">Appointments</a></li>
                            <li><a href="schedule-timings.html">Schedule Timing</a></li>
                            <li><a href="my-patients.html">Patients List</a></li>
                            <li><a href="patient-profile.html">Patients Profile</a></li>
                            <li><a href="chat-doctor.html">Chat</a></li>
                            <li><a href="invoices.html">Invoices</a></li>
                            <li><a href="doctor-profile-settings.html">Profile Settings</a></li>
                            <li><a href="reviews.html">Reviews</a></li>
                            <li><a href="doctor-register.html">Doctor Register</a></li>
                            <li class="has-submenu">
                                <a href="doctor-blog.html">Blog</a>
                                <ul class="submenu">
                                    <li><a href="doctor-blog.html">Blog</a></li>
                                    <li><a href="blog-details.html">Blog view</a></li>
                                    <li><a href="doctor-add-blog.html">Add Blog</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>-->
                    <li class="has-submenu">
                        <a href="{{path('app_integration3')}}" >Pharmacie</a>
                       <!-- <ul class="submenu">
                            <i class="fas fa-chevron-down"></i>
                            <li class="has-submenu">
                                <a href="#">Doctors</a>
                                <ul class="submenu">
                                    <li><a href="map-grid.html">Map Grid</a></li>
                                    <li><a href="map-list.html">Map List</a></li>
                                    <li><a href="map-list-1.html">Map List 1</a></li>
                                </ul>
                            </li>
                            <li><a href="search.html">Search Doctor</a></li>
                            <li><a href="doctor-profile.html">Doctor Profile</a></li>
                            <li><a href="booking.html">Booking</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="booking-success.html">Booking Success</a></li>
                            <li><a href="patient-dashboard.html">Patient Dashboard</a></li>
                            <li><a href="favourites.html">Favourites</a></li>
                            <li><a href="chat.html">Chat</a></li>
                            <li><a href="profile-settings.html">Profile Settings</a></li>
                            <li><a href="change-password.html">Change Password</a></li>
                        </ul>
                    </li>-->
                 
                    <li class="has-submenu">
                        <a href="#">Doctoshop </a>
                      <!--  <ul class="submenu">
                            <i class="fas fa-chevron-down"></i><
                            <li><a href="voice-call.html">Voice Call</a></li>
                            <li><a href="video-call.html">Video Call</a></li>
                            <li><a href="search.html">Search Doctors</a></li>
                            <li><a href="calendar.html">Calendar</a></li>
                            <li><a href="onboarding-email.html">Doctor Onboarding</a></li>
                            <li><a href="patient-email.html">Patient Onboarding</a></li>
                            <li><a href="components.html">Components</a></li>
                            <li class="has-submenu">
                                <a href="invoices.html">Invoices</a>
                                <ul class="submenu">
                                    <li><a href="invoices.html">Invoices</a></li>
                                    <li><a href="invoice-view.html">Invoice View</a></li>
                                </ul>
                            </li>
                            <li><a href="blank-page.html">Starter Page</a></li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="contact-us.html">Contact Us</a></li></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="forgot-password.html">Forgot Password</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#">Blog <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a href="blog-list.html">Blog List</a></li>
                            <li><a href="blog-grid.html">Blog Grid</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#" target="_blank">Admin <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a href="admin/index.html" target="_blank">Admin</a></li>
                            <li><a href="pharmacy/index.html" target="_blank">Pharmacy Admin</a></li>
                        </ul>-->
                    </li>
                </ul>
            </div>
            <ul class="nav header-navbar-rht">
                <li class="nav-item contact-item">
                    <div class="header-contact-img">
                        <i class="far fa-hospital"></i>
                    </div>
                    <div class="header-contact-detail">
                        <p class="contact-header">Contact</p>
                        <p class="contact-info-header"> +1 315 369 5943</p>
                    </div>
                </li>
                <li class="nav-item">
                </li>
            </ul>
        </nav>
    </header>
{% endblock %}
{% block javascripts%}
{% endblock %}


{% block body %}

{% endblock %}


{% block footer %}

    <footer class="footer">

        <div class="footer-top">
            <div class="container-fluid">
                <div class="row aos" >
                    <div class="col-lg-3 col-md-6">

                        <div class="footer-widget footer-about">
                            <div class="footer-logo">
                                <img src="{{ asset('FrontOffice/img/logoMed.png') }}" alt="logo">
                            </div>
                            <div class="footer-about-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6">

                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">Patients</h2>
                            <ul>
                                <li><a href="search.html">Recherche de Médecins</a></li>
                                <li><a href="login.html">Se connecter</a></li>
                                <li><a href="register.html">S'inscrire</a></li>
                                <li><a href="booking.html">Rendez-vous</a></li>

                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6">

                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">Médecins</h2>
                            <ul>
                                <li><a href="appointments.html">Rendez-vous</a></li>
                                <li><a href="login.html">Se connecter</a></li>
                                <li><a href="doctor-register.html">S'inscrire</a></li>

                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6">

                        <div class="footer-widget footer-contact">
                            <h2 class="footer-title">Nous contacter</h2>
                            <div class="footer-contact-info">
                                <div class="footer-address">
                                    <span><i class="fas fa-map-marker-alt"></i></span>
                                    <p> 1, 2 rue André Ampère - 2083,<br> Pôle Technologique - El Ghazala </p>
                                </div>
                                <p>
                                    <i class="fas fa-phone-alt"></i>
                                    71 963 589
                                </p>
                                <p class="mb-0">
                                    <i class="fas fa-envelope"></i>
                                    <a href="https://doccure.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="8de9e2eeeef8ffe8cde8f5ece0fde1e8a3eee2e0">[email&#160;protected]</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="footer-bottom">
            <div class="container-fluid">

                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="copyright-text">
                                <p class="mb-0">&copy; 2022 MedCare. All rights reserved.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">

                            <div class="copyright-menu">
                                <ul class="policy-menu">
                                    <li><a href="term-condition.html">Terms and Conditions</a></li>
                                    <li><a href="privacy-policy.html">Policy</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </footer>
</div>

{% endblock %}

