{% extends 'base-front.html.twig' %}

{% block body %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">

                {% block side %}
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content">
                                <div class="profile-info-widget">
                                    <a href="" class="booking-doc-img">
                                        {% if user.image %}
                                            <img class="rounded-circle" src="{{ asset('uploads/utilisateurs/' ~ user.image ) }}"  width="31" alt="image">
                                        {% else %}
                                            <img class="rounded-circle" src="{{ asset('uploads/utilisateurs/user1.png' ) }}"  width="31" alt="image">
                                        {% endif %}
                                    </a>
                                    <div class="profile-det-info">
                                        <h3>{{ user.nom | capitalize }} {{ user.prenom |capitalize }}</h3>
                                    </div>
                                </div>
                            </div>
                            {% if is_granted('ROLE_MEDECIN') %}
                            <div class="dashboard-widget">
                                <nav class="dashboard-menu">
                                    <ul>
                                        <li >
                                            <a href="{{ path('app_consult') }}">
                                                <i class="fas fa-calendar-check"></i>
                                                <span>Tableau de Bord</span>
                                            </a>
                                        </li>
                                        <li >
                                            <a href="{{ path('app_rendez_vous_index') }}">
                                                <i class="fas fa-calendar-check"></i>
                                                <span>Rendez-vous</span>
                                            </a>
                                        </li>

                                        <li >
                                            <a href="{{ path('app_fiche_medicale_index') }}">
                                                <i class="fas fa-calendar-check"></i>
                                                <span>Fiche Médicale</span>
                                            </a>
                                        </li>

                                        <li >
                                            <a href="{{ path('app_consultation_index') }}">
                                                <i class="fas fa-calendar-check"></i>
                                                <span>Consultation</span>
                                            </a>
                                        </li>

                                        <li >
                                            <a href="{{ path('app_ordonnance_index') }}">
                                                <i class="fas fa-calendar-check"></i>
                                                <span>Ordonnance</span>
                                            </a>
                                        </li>

                                        <li >
                                            <a href="{{ path('app_calendar',{'id_medecin':user.id}) }}">
                                                <i class="fas fa-calendar-check"></i>
                                                <span>Calendrier</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{{ path('app_planning_index') }}">
                                                <i class="fas fa-clock"></i>
                                                <span>Planning</span>
                                            </a>
                                        </li>


                                        <li>
                                            <a href="{{ path('app_logout') }}">
                                                <i class="fas fa-sign-out-alt"></i>
                                                <span>Se déconnecter</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            {% elseif is_granted('ROLE_PATIENT') %}
                            <div class="dashboard-widget">
                                <nav class="dashboard-menu">
                                    <ul>
                                        <li class="active">
                                            <a href="{{ path('app_rendez_vous_index') }}">
                                                <i class="fas fa-calendar-check"></i>
                                                <span>Rendez-vous</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{{ path('app_logout') }}">
                                                <i class="fas fa-sign-out-alt"></i>
                                                <span>Se déconnecter</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            {% elseif is_granted('ROLE_PHARMACIEN') %}
                                <div class="dashboard-widget">
                                    <nav class="dashboard-menu">
                                        <ul>
                                            <li class="active">
                                                <a href="{{ path('app_pharmacie_index') }}">
                                                    <i class="fas fa-calendar-check"></i>
                                                    <span>Pharmacie</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="{{ path('app_facture_index') }}">
                                                    <i class="fas fa-file-invoice"></i>
                                                    <span>Factures</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('app_facture_stat') }}">
                                                    <i class="fas fa-file-invoice"></i>
                                                    <span>Statistiques</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="{{ path('app_logout') }}">
                                                    <i class="fas fa-sign-out-alt"></i>
                                                    <span>Se déconnecter</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endblock %}

                <div class="col-md-7 col-lg-8 col-xl-9">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}