{% extends 'base-back.html.twig' %}

{% block stylesheets %}
    <link rel="shortcut icon" href="{{ asset('BackAdmin/img/favicon.png') }}">

    <link rel="stylesheet" href="{{ asset('BackAdmin/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ asset('BackAdmin/plugins/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('BackAdmin/plugins/fontawesome/css/all.min.css') }}">

    <link rel="stylesheet" href="{{ asset('BackAdmin/css/feather.css') }}">

    <link rel="stylesheet" href="{{ asset('BackAdmin/plugins/daterangepicker/daterangepicker.css') }}">

    <link rel="stylesheet" href="{{ asset('BackAdmin/plugins/select2/css/select2.min.css') }}">

    <link rel="stylesheet" href="{{ asset('BackAdmin/plugins/datatables/datatables.min.css') }}">

    <link rel="stylesheet" href="{{ asset('BackAdmin/css/style.css') }}">

{% endblock %}


{% block body %}
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Hover Rows</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>John</td>
                                    <td>Doe</td>
                                    <td><a href="https://doccure.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="244e4b4c4a64415c45495448410a474b49">[email&#160;protected]</a></td>
                                </tr>
                                <tr>
                                    <td>Mary</td>
                                    <td>Moe</td>
                                    <td><a href="https://doccure.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d5b8b4a7ac95b0adb4b8a5b9b0fbb6bab8">[email&#160;protected]</a></td>
                                </tr>
                                <tr>
                                    <td>July</td>
                                    <td>Dooley</td>
                                    <td><a href="https://doccure.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="214b544d58614459404c514d440f424e4c">[email&#160;protected]</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}