{% block stylesheets %}

    <link href="assets/img/favicon.png" rel="icon">
    <link rel="stylesheet" href="{{ asset('FrontOffice/css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/fontawesome/css/all.min.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/css/feather.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/css/bootstrap-datetimepicker.min.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/select2/css/select2.min.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/css/style.css') }}">

{% endblock %}
{% block content %}
    <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="card">
            <div class="card-body">


{{ form_start(form,{'attr': {'novalidate': 'novalidate'}})}}

                     <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Pharmacie</label>
                                {{ form_widget(form.pharmacie,{attr:{'class':'form-select form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.pharmacie,{attr:{'class':'text-danger'}})  }}
                            </div>
                        </div>
                 
                    
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Numéro de facture</label>
                                {{ form_widget(form.num_facture,{attr:{'class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.num_facture,{attr:{'class':'text-danger'}})  }}
                            </div>
                        </div>
                        
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Date de création</label>
                                    {{ form_widget(form.date,{attr:{'class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.date,{attr:{'class':'text-danger'}})  }}
                            </div>
                        </div>
                              <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Ordonnance</label>
                                {{ form_widget(form.ordonnance,{attr:{'class':'form-select form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.ordonnance,{attr:{'class':'text-danger'}})  }}
                            </div>
                        </div>
                      
                           <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Montant</label>
                                {{ form_widget(form.montant,{attr:{'class':'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.montant,{attr:{'class':'text-danger'}})  }}
                            </div>
                        </div>
                       
                         
                       <div class="row form-row">
                        <div class="col-12 col-md-12">
                            <div class="form-group">
                                <div class="change-avatar">
                                    <div class="profile-img">
                                        <img src="{{ asset('FrontOffice/img/patients/patient5.jpg') }}" alt="User Image">
                                    </div>
                                    <div class="upload-img">
                                        <div class="change-photo-btn">
                                            <span><i class="fa fa-upload"></i> Ajouter</span>
                                            <input type="file" class="upload">
                                        </div>
                                        <small class="form-text text-muted">JPG, GIF ou PNG autorisés. Taille maximale de 2 Mo</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                     
                       
    {{ form_widget(form) }}
    <button class="btn btn-primary mt-3">{{ button_label|default('Ajouter Facture') }}</button>
{{ form_end(form) }}
{% endblock %}

