{% extends 'sideBar.html.twig' %}
{% block stylesheets %}

    <link href="{{ asset('FrontOffice/img/favicon.png') }}" rel="icon">

    <link rel="stylesheet" href="{{asset('FrontOffice/css/bootstrap.min.css')}}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/fontawesome/css/all.min.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/css/feather.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/select2/css/select2.min.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/dropzone/dropzone.min.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/css/style.css') }}">

{% endblock %}


{% block content %}

    <h1>Mes Factures </h1>
    	<div class="card-body">
										<div class="table-responsive">
											<input class="form-control" id="myInput" type="text" id="navbar-search-input" placeholder="chercher.." aria-label="search" aria-describedby="search">
											<table id="example" class="table table-striped table-bordered" >
												<thead>
													<tr>
                                                    <th class="wd-15p">ID</th>
														<th class="wd-15p">Date</th>
														<th class="wd-20p">Montant</th>
                                                        <th class="wd-15p">Code Ordonnance</th>
                                                        <th class="wd-15p">Actions</th>
                                                        

													</tr>
												</thead>
												<tbody id="hi">
   
            
        {% for facture in factures %}
            <tr>
                <td>{{ facture.id }}</td>
                <td>{{ facture.date ? facture.date|date('Y-m-d') : '' }}</td>
                 <td>{{ facture.montant }}</td>
                 <td>{{ facture.ordonnance}}</td>

                <td>
                    <a href="{{ path('app_facture_show', {'id': facture.id}) }}" class="btn btn-sm bg-primary-light"><i class = "fas fa-eye"></i>{{ button_label|default('Voir') }}</a>
                    <a href="{{ path('app_facture_edit', {'id': facture.id}) }}"class="btn btn-sm bg-success-light" > <i class="fas fa-edit"></i> {{ button_label|default('Modifier') }}</a>
                     <a href="{{ path('app_facture_delete', {'id': facture.id}) }}"class="btn btn-sm bg-danger-light" > <i class="far fa-trash-alt"></i> {{ button_label|default('Supprimer') }}</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        
  </tbody>
    </table>
   
</div>
									</div>
<center>
    <a href="{{ path('app_facture_new') }}" class="btn btn-primary mt-3">{{ button_label|default('Ajouter une nouvelle facture') }}</a>
   </center>

    </div>
</div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script>
    	$(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#hi tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    	});
		</script>





      

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('FrontOffice/js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ asset('FrontOffice/plugins/swiper/js/swiper.min.js') }}"></script>

    <script src="{{ asset('FrontOffice/js/jquery-3.6.0.min.js') }}"></script>

    <script src="{{ asset('FrontOffice/js/slick.js') }}"></script>

    <script src="{{ asset('FrontOffice/js/aos.js') }}"></script>

    <script src="{{ asset('FrontOffice/js/script.js') }}"></script>

    <script src="{{ asset('FrontOffice/js/jquery-3.6.0.min.js') }}"></script>

{% endblock %}
