{% extends 'base-front.html.twig' %}



{% block body %}

    <h1>Mes Factures </h1>
    <div class="tab-content pt-0">
<div id="pat_appointments" class="tab-pane fade show active">
<div class="card card-table mb-0">
<div class="card-body">
<div class="table-responsive">
<table class="table table-hover table-center mb-0">

        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Image_signature</th>
                <th>Num_facture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.id }}</td>
                <td>{{ facture.montant }}</td>
                <td>{{ facture.date ? facture.date|date('Y-m-d') : '' }}</td>
                <td>{{ facture.imageSignature }}</td>
                <td>{{ facture.numFacture }}</td>
                <td>
                    <a href="{{ path('app_facture_show', {'id': facture.id}) }}">Voir</a>
                    <a href="{{ path('app_facture_edit', {'id': facture.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_facture_new') }}">Ajouter une nouvelle facture</a>
    </div>
</div>
</div>
</div>
{% endblock %}
