{% extends 'base-frontfac.html.twig' %}


{% block body %}


<div>

<h1 align='center'>Facture</h1>

 </div>


 <div>
<table width="100%" border="1">
<h3 > Numéro Facture :{{ facture.id }}</h3>
<li>Date: <span>{{ facture.date ? facture.date|date('Y-m-d') : '' }}</span></li>
</div>

<div>

<li><h6>{{ facture.pharmacie.nom }} </h6></li>
<li>{{ facture.pharmacie.adresse }}</li>
<li>{{ facture.pharmacie.numTel }}</li>
<li>{{ facture.pharmacie.email}}</li>
</div>
<div>

<li> <h5>{{ facture.ordonnance.consultation.rendezvous.patient.nom}}
{{ facture.ordonnance.consultation.rendezvous.patient.prenom}}</li></h5>

<li>{{ facture.ordonnance.consultation.rendezvous.patient.adresse}}</li>

<li>{{ facture.ordonnance.consultation.rendezvous.patient.numTel}}</li>

<li>{{ facture.ordonnance.consultation.rendezvous.patient.email}}</li>

</div>






<div>

<h11>Liste des Médicaments</h11>


{{ facture.ordonnance.medicaments }}

</div>
<div>

<h5> Total: {{ facture.montant }}</h5>


</div>







<div class="invoice-info">
 
                <h10 class="d-none d-sm-table-cell" >Image_signature</h10> 
               

                <img src="{{ asset('uploads/images/' ~ facture.imageSignature ) }}" alt="Image de signature" >


            
</div>








{% endblock %}
