{% extends "base-pdf.html.twig" %}
{% block title %}Facture{{facture.id}} {% endblock %}
{% block body %}

<div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.min.css">



<h1 align='center' style="color: blue">Facture</h1>


 </div>

 <div>
<table width="100%" border="1">
<tr>
                <td colspan="2">
                
 <img  src="{{ absolute_url (asset('FrontOffice/img/logoMedB.png')) }}" class="img-fluid"  align='right' alt="Logo">
 <img src="{{ absolute_url (asset('FrontOffice/img/logoMedB.png')) }}" class="img-fluid"  align='left'   alt="Logo">

<h3 style="color: blue" align='center' > Numéro Facture :{{ facture.id }}</h3>
<h3 style="color: blue" align='center' >Date: <span>{{ facture.date ? facture.date|date('d-m-Y') : '' }}</span></li>

</div>

<div>
<h3 align='center' style="color: blue">Pharmacie</h3>
<table border=1>
        <thead>
            <tr>
                <th scope="col" style="color: blue">Nom</th>
                <th scope="col" style="color: blue">Adresse</th>
                <th scope="col" style="color: blue">Gouvernorat</th>
                <th scope="col" style="color: blue">E-mail</th>
                <th scope="col" style="color: blue">Numéro</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ facture.pharmacie.nom }}</td>
                <td>{{ facture.pharmacie.adresse }}</td>
                <td>{{ facture.pharmacie.gouvernorat }}</td>
                <td>{{ facture.pharmacie.email }}</td>
                <td>{{ facture.pharmacie.numTel }}</td>
            </tr>
        </tbody>
    </table>

<h3 align='center' style="color: blue">Client</h3>

<table border=1>
        <thead>
            <tr>
                <th scope="col" style="color: blue">Nom</th>
                <th scope="col" style="color: blue">Prénom</th>
                <th scope="col" style="color: blue">Adresse</th>
                <th scope="col" style="color: blue">E-mail</th>
                <th scope="col" style="color: blue">Numéro</th>


            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ facture.ordonnance.consultation.rendezvous.patient.nom}}</td>
                <td>{{ facture.ordonnance.consultation.rendezvous.patient.prenom }}</td>
                <td>{{ facture.ordonnance.consultation.rendezvous.patient.adresse}}</td>
                <td>{{ facture.ordonnance.consultation.rendezvous.patient.email }}</td>
                <td>{{ facture.ordonnance.consultation.rendezvous.patient.numTel }}</td>

            </tr>
        </tbody>
    </table>

<table border=1>
        <thead>
            <tr>
                <th scope="col" style="color: blue">Liste des Médicaments</th>
                

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ facture.ordonnance.medicaments }}</td>
              

            </tr>
        </tbody>
    </table>


</div>
<div class ="left">

<h3 style="color: blue"> Total: {{ facture.montant }} Dt</h3>

        <img src ="{{ absolute_url (asset('uploads/images/' ~ facture.imageSignature))  }}"  >


            
</div>






{% endblock %}

