{% extends 'base-front.html.twig' %}

{% block body %}
<div class="col-md-7 col-lg-8 col-xl-9">
    <h1> Consulation </h1>
    <div class="card">
        <div class="card-body pt-0">            
            <div class="tab-content">
                <div class="text-end">
                    <a href="{{ path('app_consultation_new') }}" class="add-new-btn"> Ajouter consultation </a>
                    <a href="{{ path('consultation_export_csv') }}" class="add-new-btn bg-info-light"><i class="fas fa-download"></i> télecharger liste</a>
                </div>
                <div class="card card-table mb-0">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>          
                                        <th>Patient</th>    
                                        <th>Symptomes</th>
                                        <th>Traitement</th>
                                        <th>Medicament</th>
                                        <th>date consultation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for consultation in consultations  %}
                                    <tr> 
                                        <td>{{ consultation.id }}</td>              
                                        <td>{{ consultation.symptomes }}</td>
                                        <td>{{ consultation.traitement }}</td>
                                        <td>{% if consultation.ordonnance %}
                                            {{ consultation.ordonnance.medicaments }}   
                                            {% endif %}
                                        </td>
                                        <td>{% if consultation.rendezVous %}                                                                                        
                                                {{ consultation.rendezVous.date }}
                                            {% endif %}</td>
                                        <td>
                                            <a href="{{ path('app_consultation_show', {'id': consultation.id}) }}" class="btn btn-sm bg-primary-light" > <i class="fas fa-eye"></i> Afficher</a>
                                            <a href="{{ path('app_consultation_edit', {'id': consultation.id}) }}" class="btn btn-sm bg-success-light" > <i class="fas fa-edit"></i> Modifier</a>
                                            <a href="{{ path('app_consultation_delete', {'id': consultation.id}) }}" class="btn btn-sm bg-danger-light" > <i class="fas fa-trash-alt"></i> Supprimer</a>
                                                                                                                    
                                        </td>
                                    </tr>
                                        {% else %}
                                    <tr>
                                        <td colspan="13"> Aucun enregistrement trouvé</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
            </div>
        </div> 
    </div> 
    {% if isPaginated  %}
                <div class="d-flex justify-content-center">
                    <nav aria-label="col Page navigation example">
                        <ul class="pagination">
                            {% if page != 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ path('app_consultation_index', {page: page - 1, nbre: nbre}) }}">Previous</a></li>
                            {% endif %}
                            {% for i in range(1, nbrePage) %}
                                <li class="page-item">
                                    <a class="page-link"  href="{{ path('app_consultation_index', {page: i, nbre: nbre}) }}">{{ i }}</a>
                                </li>
                            {% endfor %}
                            {% if page != nbrePage %}
                                <li class="page-item">
                                    <a class="page-link"  href="{{ path('app_consultation_index', {page: page + 1, nbre: nbre}) }}">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>

                </div>
            {% endif %}
</div>      
{% endblock %}

{% block active_menu %}
    <li class="has-submenu ">
        <a href="/">Accueil </a>
    </li>
    <li class="has-submenu active" >
        <a href="/dashboard">Médecin</a>
    </li>      
{% endblock %}

{% block signup %}
    <li class="nav-item dropdown has-arrow logged-item">
        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
            <span class="user-img">
                <img class="rounded-circle" src="{{ asset('FrontOffice/img/doctors/doctor-thumb-02.jpg')}}" width="31" alt="Darren Elder">
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
            <div class="user-header">
                <div class="avatar avatar-sm">
                    <img src="{{ asset('FrontOffice/img/doctors/doctor-thumb-02.jpg')}}" alt="User Image" class="avatar-img rounded-circle">
                </div>
                <div class="user-text">
                    <h6>Darren Elder</h6>
                    <p class="text-muted mb-0">Doctor</p>
                </div>
            </div>
            <a class="dropdown-item" href="/dashboard">Dashboard</a>
            <a class="dropdown-item" href="doctor-profile-settings.html">Profile Settings</a>
            <a class="dropdown-item" href="/">Logout</a>
        </div>
    </li>        
{% endblock %}

{% block breadcrumbBar %}
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12"> 
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active"><a href="/"> Home > </a></li>
                            <li> Consultation </li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title"> Consultation </h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sideBar %}
    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
        <div class="profile-sidebar"> 
            <div class="widget-profile pro-widget-content">
                <div class="profile-info-widget">
                    <a href="#" class="booking-doc-img">
                        <img src="{{ asset('FrontOffice/img/doctors/doctor-thumb-02.jpg')}}" alt="User Image">
                    </a>
                    <div class="profile-det-info">
                        <h3>Dr. Darren Elder</h3>
                        <div class="patient-details">
                            <h5 class="mb-0">BDS, MDS - Oral et Maxillofacial Surgery</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-widget">
                <nav class="dashboard-menu">
                    <ul>
                        <li>
                            <a href="/dashboard">
                                <i class="fas fa-columns"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/consultation/show">
                                <i class="fas fa-calendar-check"></i>
                                <span> Consultation </span>
                            </a>
                        </li>         
                        <li>
                            <a href="/ordonnance/show">
                                <i class="fas fa-calendar-check"></i>
                                <span> Ordonnance </span>
                            </a>
                        </li>
                        <li>
                            <a href="/ficheMedicale/show">
                                <i class="fas fa-calendar-check"></i>
                                <span> Fiche Medical </span>
                            </a>
                        </li>
                        <li>
                            <a href="my-patients.html">
                                <i class="fas fa-user-injured"></i>
                                <span>Mes Patients</span>
                            </a>
                        </li>
                        <li>
                            <a href="doctor-profile-settings.html">
                                <i class="fas fa-user-cog"></i>
                                <span>Profile Settings</span>
                            </a>
                        </li>                                
                        <li>
                            <a href="doctor-change-password.html">
                                <i class="fas fa-lock"></i>
                                <span>Change Mot de passe</span>
                            </a>
                        </li>
                        <li>
                            <a href="index.html">
                                <i class="fas fa-sign-out-alt"></i>
                                <span>Déconnecter</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('FrontOffice/plugins/select2/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{asset('FrontOffice/css/feather.css')}}">
    <link rel="stylesheet" href="{{asset('FrontOffice/css/bootstrap-datetimepicker.min.css')}}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('BackAdmin/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('FrontOffice/plugins/theia-sticky-sidebar/ResizeSensor.js') }}"></script>
    <script src="{{ asset('FrontOffice/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js') }}"></script>
    <script src="{{ asset('FrontOffice/plugins/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset('FrontOffice/js/moment.min.js')}}"></script>
    <script src="{{ asset('FrontOffice/js/bootstrap-datetimepicker.min.js')}}"></script>
    <script src="{{ asset('FrontOffice/js/feather.min.js')}}"></script>
{% endblock %}