{% extends 'sideBar.html.twig' %}


{% block stylesheets %}

    <link href="{{ asset('FrontOffice/img/favicon.png') }}" rel="icon">

    <link rel="stylesheet" href="{{asset('FrontOffice/css/bootstrap.min.css')}}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/fontawesome/css/all.min.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/css/feather.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/select2/css/select2.min.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css') }}">
    <link rel="stylesheet" href="{{ asset('FrontOffice/plugins/dropzone/dropzone.min.css') }}">

    <link rel="stylesheet" href="{{ asset('FrontOffice/css/style.css') }}">

{% endblock %}

{% block content %}
<div class="col-md-12 col-lg-8 col-xl-12">
    <h1> Consulation </h1>
    <div class="card">
        <div class="card-body pt-0">            
            <div class="tab-content">
                <div class="text-end">
                    <a href="{{ path('app_consultation_new') }}" class="add-new-btn"> Ajouter consultation </a>
                    <a href="{{ path('consultation_export_csv') }}" class="add-new-btn bg-info-light"><i class="fas fa-download"></i> télecharger liste</a>
                </div>
                <div class="card card-table mb-0">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>          
                                        <th>Nom Patient</th>    
                                        <th>Symptomes</th>
                                        <th>Traitement</th>
                                        <th>Medicament</th>
                                        <th>date consultation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for consultation in consultations  %}
                                    <tr> 
                                        <td>{{ consultation.rendezVous.patient.nom |capitalize }}</td>
                                        <td>{{ consultation.maladie }}</td>
                                        <td>{{ consultation.traitement }}</td>
                                        <td>{% if consultation.ordonnance %}
                                            {{ consultation.ordonnance.medicaments }}   
                                            {% endif %}
                                        </td>
                                        <td>{% if consultation.rendezVous %}                                                                                        
                                                {{ consultation.rendezVous.date ? consultation.rendezVous.date|date('Y-m-d') : ''}}
                                            {% endif %}</td>
                                        <td>
                                            <a href="{{ path('app_consultation_show', {'id': consultation.id}) }}" class="btn btn-sm bg-primary-light" > <i class="fas fa-eye"></i> Afficher</a>
                                            <a href="{{ path('app_consultation_edit', {'id': consultation.id}) }}" class="btn btn-sm bg-success-light" > <i class="fas fa-edit"></i> Modifier</a>
                                            <a href="{{ path('app_consultation_delete', {'id': consultation.id}) }}" class="btn btn-sm bg-danger-light" > <i class="fas fa-trash-alt"></i> Supprimer</a>
                                                                                                                    
                                        </td>
                                    </tr>
                                        {% else %}
                                    <tr>
                                        <td colspan="13"> Aucun enregistrement trouvé</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
            </div>
        </div> 
    </div> 
    {% if isPaginated  %}
                <div class="d-flex justify-content-center">
                    <nav aria-label="col Page navigation example">
                        <ul class="pagination">
                            {% if page != 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ path('app_consultation_index', {page: page - 1, nbre: nbre}) }}">Previous</a></li>
                            {% endif %}
                            {% for i in range(1, nbrePage) %}
                                <li class="page-item">
                                    <a class="page-link"  href="{{ path('app_consultation_index', {page: i, nbre: nbre}) }}">{{ i }}</a>
                                </li>
                            {% endfor %}
                            {% if page != nbrePage %}
                                <li class="page-item">
                                    <a class="page-link"  href="{{ path('app_consultation_index', {page: page + 1, nbre: nbre}) }}">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>

                </div>
            {% endif %}
</div>      
{% endblock %}



{% block javascripts %}
    <script src="{{ asset('BackAdmin/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('FrontOffice/plugins/theia-sticky-sidebar/ResizeSensor.js') }}"></script>
    <script src="{{ asset('FrontOffice/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js') }}"></script>
    <script src="{{ asset('FrontOffice/plugins/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset('FrontOffice/js/moment.min.js')}}"></script>
    <script src="{{ asset('FrontOffice/js/bootstrap-datetimepicker.min.js')}}"></script>
    <script src="{{ asset('FrontOffice/js/feather.min.js')}}"></script>
{% endblock %}