
{% block content %}
    <h1>Consultation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consultation.id }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ consultation.poids }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ consultation.taille }}</td>
            </tr>
            <tr>
                <th>Imc</th>
                <td>{{ consultation.imc }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ consultation.temperature }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ consultation.prix }}</td>
            </tr>
            <tr>
                <th>Pression_arterielle</th>
                <td>{{ consultation.pressionArterielle }}</td>
            </tr>
            <tr>
                <th>Frequence_cardiaque</th>
                <td>{{ consultation.frequenceCardiaque }}</td>
            </tr>
            <tr>
                <th>Taux_glycemie</th>
                <td>{{ consultation.tauxGlycemie }}</td>
            </tr>
            <tr>
                <th>Symptomes</th>
                <td>{{ consultation.symptomes }}</td>
            </tr>
            <tr>
                <th>Traitement</th>
                <td>{{ consultation.traitement }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ consultation.observation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_consultation_index') }}">back to list</a>

    <a href="{{ path('app_consultation_edit', {'id': consultation.id}) }}">edit</a>

    {{ include('consultation/_delete_form.html.twig') }}
{% endblock %}
