{% extends 'sideBar.html.twig' %}

{% block content %}
    <h1>Consultation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consultation.id }}</td>
            </tr>
            <tr>
                <th>imc</th>
                <td>{{ consultation.imc }}</td>
            </tr>
            <tr>
                <th>poids</th>
                <td>{{ consultation.poids }}</td>
            </tr>
            <tr>
                <th>taille</th>
                <td>{{ consultation.taille }}</td>
            </tr>
            
            <tr>
                <th>temperature</th>
                <td>{{ consultation.temperature }}</td>
            </tr>
            <tr>
                <th>Symptomes</th>
                <td>{{ consultation.symptomes }}</td>
            </tr>
            <tr>
                <th>Traitement</th>
                <td>{{ consultation.traitement }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ consultation.observation }}</td>
            </tr>
        </tbody>
    </table>
    
    <a href="{{ path('app_consultation_edit', {'id': consultation.id}) }}" class="add-new-btn"> Modifier </a>

    {{ include('Front-Office/consultation/_delete_form.html.twig') }}

     <a href="{{ path('app_consultation_index') }}"> retour à la liste</a>
{% endblock %}
