{% extends 'sideBar.html.twig' %}

{% block content %}
    <h1>Consultation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consultation.id }}</td>
            </tr>
            <tr>
                <th>imc</th>
                <td>{{ consultation.imc }}</td>
            </tr>
            <tr>
                <th>poids</th>
                <td>{{ consultation.poids }}</td>
            </tr>
            <tr>
                <th>taille</th>
                <td>{{ consultation.taille }}</td>
            </tr>
            
            <tr>
                <th>temperature</th>
                <td>{{ consultation.temperature }}</td>
            </tr>
            <tr>
                <th>Symptomes</th>
                <td>{{ consultation.symptomes }}</td>
            </tr>
            <tr>
                <th>Traitement</th>
                <td>{{ consultation.traitement }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ consultation.observation }}</td>
            </tr>
        </tbody>
    </table>
    
    <a href="{{ path('app_consultation_edit', {'id': consultation.id}) }}" class="add-new-btn"> Modifier </a>

    {{ include('Front-Office/consultation/_delete_form.html.twig') }}

     <a href="{{ path('app_consultation_index') }}"> retour à la liste</a>
{% endblock %}


{% block nav %} Consultation  {% endblock %}
{% block active_side %}
    <li>
        <a href="/dashboard">
            <i class="fas fa-columns"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="active">
        <a href="/consultation">
            <i class="fas fa-calendar-check"></i>
            <span> Consultation </span>
        </a>
    </li>                                      
    <li>
        <a href="/ordonnance">
            <i class="fas fa-calendar-check"></i>
            <span> Ordonnance </span>
        </a>
    </li>
    <li>
        <a href="/ficheMedicale">
            <i class="fas fa-calendar-check"></i>
            <span> Fiche Medical </span>
        </a>
    </li>
    <li>
        <a href="my-patients.html">
            <i class="fas fa-user-injured"></i>
            <span>Mes Patients</span>
        </a>
    </li>
    <li>
        <a href="doctor-profile-settings.html">
            <i class="fas fa-user-cog"></i>
            <span>Profile Settings</span>
        </a>
    </li>                                
    <li>
        <a href="doctor-change-password.html">
            <i class="fas fa-lock"></i>
            <span>Change Mot de passe</span>
        </a>
    </li>
    <li>
        <a href="index.html">
            <i class="fas fa-sign-out-alt"></i>
            <span>Déconnecter</span>
        </a>
    </li>
{% endblock %} 